<nav>
  {{#if session.isAuthenticated}}
    <span>{{sessionAccount.currentUser.full_name}}</span>
    <button {{action "logout"}}>Logout</button>
  {{else}}
    {{#link-to "login"}}
      Login
    {{/link-to}}
    {{#link-to "signup"}}
      Sign up
    {{/link-to}}
  {{/if}}
</nav>
{{outlet}}
