<h2>{{title}}</h2>
<table style="width: 100%; padding: 2%; border-spacing: 1vh;">
  <tr>
    <th style="text-align: left;">Name</th>
    <th style="text-align: left;">Mail ID</th>
  </tr>
  {{#each users as |user|}}
  <tr>
    <td>{{user.full_name}}</td>
    <td>{{user.email}}</td>
  </tr>
  {{/each}}
</table>